# You can generate encryption key from setup page.
NEXT_PUBLIC_ENCRYPTION_KEY=""
# You can use any random string for JWT_KEY, it is recommended to use a strong key by combining characters, numbers and symbols.
JWT_KEY=""
# Domain name of your website. Used for fetching the og-image from public directory.
# Example: https://drive.example.com
NEXT_PUBLIC_DOMAIN=""