@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --animation-duration: 300ms;
    --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */
@layer base {
    html {
        @apply text-sm tablet:text-base;
    }
    * {
        @apply focus:outline focus:outline-blue-400 focus:rounded;
        @apply dark:focus:outline-blue-600;
    }

    /* Scrollbar */
    ::-webkit-scrollbar {
        @apply w-1.5;
    }

    html ::-webkit-scrollbar-track {
        @apply bg-zinc-100 rounded;
    }

    html ::-webkit-scrollbar-thumb {
        @apply bg-zinc-400 rounded;
    }

    html ::-webkit-scrollbar-thumb:hover {
        @apply bg-zinc-500;
    }

    html.dark ::-webkit-scrollbar-track {
        @apply bg-zinc-500;
    }

    html.dark ::-webkit-scrollbar-thumb {
        @apply bg-zinc-900;
    }

    html.dark ::-webkit-scrollbar-thumb:hover {
        @apply bg-zinc-800;
    }

    /* Text */

    a, .interactive {
        @apply opacity-90 transition-opacity duration-[var(--animation-duration)] ease-[var(--animation-timing)];
        @apply hover:opacity-100;
    }
    a[role='url']{
        @apply opacity-100 text-blue-600 transition-colors duration-[var(--animation-duration)] ease-[var(--animation-timing)];
        @apply hover:text-blue-500;
        @apply active:text-blue-700;
        @apply focus:underline;
        @apply dark:text-blue-500;
        @apply dark:hover:text-blue-400;
        @apply dark:active:text-blue-600;
    }
}

@layer components {
}

/* Utility */
@layer utilities {
    .global-duration {
        @apply duration-[var(--animation-duration)] ease-[var(--animation-timing)];
    }
}